.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #d0d0d0;
  }
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
    border: none;
  }

  .border{
    border: 1px solid rgb(90, 89, 89);
    border-radius: 5px;
    margin-top: 30px;
  }
  